img {
    width: 100%;
    aspect-ratio: 16/9;
}

#info-img-container {
    float: left;
}

#container::after {
    clear: both;
    display: block;
    content: "";
}

#coontainer {
    padding-bottom: 100px
}

#loader {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}